*{ padding: 0px; margin: 0px; }

body{ font-size: 14px; font-family: 'Comfortaa', cursive; background: #F0F0F0;}
.navbar { 
  padding: 0px 10px; 
  border: none; 
  border-radius: 0px; 
  box-shadow: 3px 3px 3px#ccc;
}
.navbar-default .navbar-nav > li > a{ 
  color: #6F7E88; 
  border-bottom: 2px solid transparent; 
  padding: 15px 10px 5px 10px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{ 
  color: #ED9F2F; 
  border-bottom: 2px solid #ED9F2F; 
  transition: 1s all;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{ 
  color: #ED9F2F; 
  border-bottom: 2px solid #ED9F2F; 
  transition: 1s all;
  background: #fff;
}
.navbar-default .navbar-brand{ color: #ED9F2F }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{color: #6F7E88;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{ 
  color: #ED9F2F; 
  border-bottom: 2px solid #ED9F2F; 
  transition: 1s all;
  background: #fff;
}
/*.navbar-nav .nav-link:focus,  .navbar-nav .nav-link:hover{ color: #000000; }*/
/*.navbar-nav .nav-link {color: #6F7E88; font-size: 16px;}*/
.navbar .dropdown-menu {background: rgba(255, 255, 255, 0.9); border:none; border-radius: 0px;}
.navbar .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: #ED9F2F; background: transparent;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{color: #ED9F2F}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #6F7E88;}
.navbar-default .navbar-toggle .icon-bar{background-color:red; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: transparent;}

@media only screen and (min-width: 768px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.wallpaper{
  width: 100%;
  background: #fff;
  border:1px solid #E5E5E5;
  border-radius: 3px;
  padding: 15px 15px;
}

.banner{width: 100%; height: 300px; margin: auto; }
.banner .carousel-inner img {
  width: 100%;
  height: 300px;
}

.search-header .btn-color{
  background: #FF930D;
  color: #fff;
  border: 1px solid #FF930D;
}
.search-header .btn-color:hover{
  background: #D97700;
  color: #fff;
  border: 1px solid #D97700;
}
.search-header .border-search{
  border: 1px solid #FF990D;
}
.search-header{background: #F9F9F9; padding-right: 5px; padding-left: 5px;}

.title-comm {
  color: #ED9F2F;
  font-size: 18px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
}

h3.title-comm:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: 0;
  border-top: 2px solid #ED9F2F;
  z-index: 1;
  display: block;
}

.title-comm .title-holder {

  height: 45px;
  background-color: #fff;
  height: auto;
  line-height: 45px;
  padding: 0px 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  display: inline-block;
  min-width: 100px;
}

.room-item-vertical{
  border:1px solid #E5E5E5;
  padding: 10px 10px;
  margin: 5px 0px;
}
.room-item-vertical:hover{ border:1px solid #FF930D; transition: 1s all;}
.room-item-vertical a{color: #555;}
.wrap-img-vertical{width: 100%; height: 130px;}
.wrap-img-vertical img{width: 100%; height: 100%;}
.room-item-vertical .price{ color: red; font-weight: bold; font-size: 15px; }
.room-item-vertical .info{ font-size: 12px; }
.room-item-vertical h5{color: ;}

.recommended_items {
  overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #FF990C;
  color: #FFFFFF;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #fff;
  color: #FF990C;
}

.recommended_items  h2 {
}

.our_partners{
  overflow:hidden;
}

.our_partners ul {
  background: #F7F7F0;
  margin-bottom: 50px;
}


.our_partners ul li a:hover{
  background:none;
}
.recommended_items .right{
  right: -2px;
}

.footer{background: #fff; padding-top: 20px;}
.footer li{list-style-type: none;}
.footer li a{color: #555;}
.footer h4{color:#FF990C;}
.footer-bottom {text-align: center; font-size: 12px; padding-bottom: 50px;}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  border-radius: 50%;
}

.product-information2{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}
@media screen and (max-width: 996px) {
  .preview { margin-bottom: 20px; } 
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}
.preview-thumbnail.nav-tabs li {
  width: 10%;
  margin-right: 2.5%; 
}
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
}
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; 
}

.tab-content { overflow: hidden; }
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; 
}

.detail .sub-title {font-size: 13px; margin: 5px 0px 10px 0px;}

#map {
  width: 100%;
  height: 300px;
  margin: 10px 0px 10px 0px;
}
.detail .title{font-weight: bold; }
.detail .price{font-size: 17px; color: red; font-weight: bold;}

pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #FE980F;
  border-color: #FE980F;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  /*padding: 6px 12px;*/
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}
.pagination  li  a:hover{
  background:#FE980F;
  color:#fff;
}

.profile {  margin: 20px 0;}

.profile-sidebar {  
  padding: 20px 0 10px 0;  
  background: #fff;
}


.profile-userpic img {  
  float: none;  
  margin: 0 auto;  
  width: 50%;  
  height: 50%;  
  -webkit-border-radius: 50% !important;  
  -moz-border-radius: 50% !important;  
  border-radius: 50% !important;
}


.profile-usertitle {  
  text-align: center;  
  margin-top: 20px;
}


.profile-usertitle-name {  
  color: #5a7391;  
  font-size: 16px;  
  font-weight: 600;  
  margin-bottom: 7px;
}


.profile-usertitle-job {  
  text-transform: uppercase;  
  color: #5b9bd1;  
  font-size: 12px;  
  font-weight: 600;  
  margin-bottom: 15px;
}


.profile-userbuttons {  
  text-align: center;  
  margin-top: 10px;
}


.profile-userbuttons .btn {  
  text-transform: uppercase;  
  font-size: 11px;  
  font-weight: 600;  
  padding: 6px 15px;  
  margin-right: 5px;
}


.profile-userbuttons .btn:last-child {  
  margin-right: 0px;
}    
.profile-usermenu {  
  margin-top: 30px;
}

.profile-usermenu ul li {  
  border-bottom: 1px solid #f0f4f7;
}


.profile-usermenu ul li:last-child {  
  border-bottom: none;
}

.profile-usermenu ul li a {  
  color: #93a3b5;  
  font-size: 14px;  
  font-weight: 400;
}


.profile-usermenu ul li a i {  
  margin-right: 8px;  
  font-size: 14px;
}

.profile-usermenu ul li a:hover {  
  background-color: #fafcfd;  
  color: #5b9bd1;
}

.profile-usermenu ul li.active {  
  border-bottom: none;
}

.profile-usermenu ul li.active a {  
  color: #5b9bd1;  
  background-color: #f6f9fb;  
  border-left: 2px solid #5b9bd1;  
}

.profile-content {  
  padding: 20px;  
  background: #fff;  
  height: auto;
  border-top: 2px solid #ED9F2F;
}

#example .content{
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    color:#2d76b3;
}

.error404 {
  margin-top: 40px;
  border: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.footer-modal{
  padding: 10px 5px;
}
.psw{
  float: right;
    padding-top: 7px;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.imgcontainer { width: 70%; padding:15px 5px; margin: auto;}
.imgcontainer img{width: 100%;}
/*end login*/
.error{color: red;}
.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}
.fixed-alert{
  top: 150px;
  position: fixed;
  z-index: 99;
}
